/*
.header-nonbs {
  height: 412px;
  background: img/banner.png no-repeat 50% 50%; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #fff;
}
*/

.bannere{
        width: 100%;
        }

.navbar{
  padding: 1em 0;
  box-shadow: 3px 3px 5px -2px #333;
}

.left carousel-control{
    padding-top: 45%;
    margin-top: 45%;
}

.header-nonbs{
    margin-bottom: 20px;
}

/*
.footer-nonbs {
  border-top: 1px solid #444;
  padding-top: 20px;
  margin-top: 20px;
  color: #999
}
*/

.footer{
    height: 75px;
    background-color: #222222;
    padding: 25px;
    margin-top: 10px;
    color: #9d9d9d;
    width: 100%;
}

.container{
    background-color: #eeeeee;
}

html{
    font-family: 'Roboto', sans-serif;
}
/**********************
These styles just create a bit
of extra space for the header
 and the footer.
**********************/
a{
  font-weight:bold;
  font-size:1.6rem;
}